/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	body{
		background-color: gray;
	}
	
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	body{
		background-color: gold;
	}
	.col-patron{
		height: 600px;
		padding: 4%;
	}
	.col-imagen{
		height: 600px;
	}
	
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	body{
		background-color: lightcoral;
	}
	.carousel-item{
		height: 95vh;
		background-color: pink;
	}
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	body{
		background-color: turquoise;
	}
	

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	body{
		background-color: lightgreen;
	}
}